.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    border: 1px solid black; /* Just for visual reference */
}

.centered-div {
    height: 200px;
    width: 200px;
    border-radius: 50%; 
    border: 20px solid #B4A6AB;
    border-top:20px solid #946E83;
    animation-name: spin;
    animation-duration: 1s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}